/* Browsers add margin and padding to HTML elements by default. This ruins our styles. 
The following code removes default marign and padding */
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 1fr 20rem;
}
main{
    height: 100vh;
    padding: 55px;
}
#box-holder{
    height: 100%;
    background-color: beige;
}
aside{
    /* background-color: gray; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form{
    margin: 2rem 1rem;
}
fieldset{
    padding: 1rem;
    margin-bottom: 1.6rem;
    border: 1px solid #dbdbdb;
}
label{
    font-size: 14px;
    color: rgb(69, 69, 69);
}
.radio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 0.5rem;
}
.box{
    /* setting equal widths to make the box a square */
    width: 5rem;
    height: 5rem;

    /* There is a number inside the box. We need to center it horizontally and vertically */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Setting font color as white */
    color: white;
}

.box1{
    background-color: violet;
}

.box2{
    background-color: indigo;
}

.box3{
    background-color: blue;
}


.flex{
    display: flex;
}

.flex-dir-row{
    flex-direction: row;
}
.flex-dir-col{
    flex-direction: column;
}
.justify-flex-start{
    justify-content: flex-start;
}
.justify-flex-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-space-around{
    justify-content: space-around;
}
.justify-space-between{
    justify-content: space-between;
}

.align-flex-start{
    align-items: flex-start;
}
.align-flex-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.align-stretch{
    align-items: stretch;
}



